.header
  .header__left
    kakeibo
  .header__right
    宇津木
.contents
  .contents__form
    .contents__form__income
      収入
      .contents__form__income__price
        値段
      .contents__form__income__date
        日付
      .contents__form__income__category
        カテゴリー
      .contents__form__income__sbmit
        送信    
.footer
  .footer__income
    収入合計
  .footer__expense
    支出合計
